.outer-box {
    margin: 50px auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.group {
    padding: 2.5px;
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    /* color : red; */

}

.Box {
    height: 52px;
    width: 52px;
    display: flex;
    box-sizing: border-box;
    border: 2px solid rgb(205, 205, 205);
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.greenBox{
    
    background-color: #6AAA64;
    color : white;
    border: none;
}

.yellowBox{
    
    background-color: #c9b458;
    color : white;
    border: none;
}

.greyBox{
    
    background-color: #787c7e;
    color : white;
    border: none;
}

.keyboar_btn {
    width: 40px;
    height: 60px;
    min-width: fit-content;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    background-color: #d3d6da;

    border-radius: 4px;
    text-transform: uppercase;
}

.row {
    display: flex;
    gap: 10px;


}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 3dvh;

}

.h1{
    font-family: "nyt-karnak";
    font-weight: 700;
    font-weight: bold ;
    text-align: center;
    font-size: 32px;
}
.h2{
    font-family:     " nyt-karnakcondensed";
    font-weight:200;
    font-weight: bold ;
    text-align: center;
    font-size: 26px;

}

.button{
   display: flex;
   align-items: center;
}

.boxes{
    display: flex;
    gap : 6px;
    border-radius: 2px;
    border-color: grey;
}

.instruction_Box{

    width: 32px;
    height: 33px;
    font-weight: 400;
    font-size: 24px;
    
}
.parent{
    gap : 4px;
}
.instruction_wrapper{
    gap : 6px;
    display: flex;
    flex-direction: column;
}

.green_class{
    background-color: #6AAA64;
    color : white;
    border: none;
}
.yellow_class{
    background-color: #c9b458;
    color : white;
    border: none;

}
.gray_class{
    background-color: #787c7e;
    color : white;
    border: none;

}
.how_to_play{
    display:  flex;
    width: 90%;
    justify-content: flex-end;
}
.basePopup{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

